/*GENERAL*/
@font-face {
	font-family: iranyekan-light;
	font-style: normal;
	font-weight: lighter;
	src: url("../assets/font/iranyekanweblight.eot");
	src: url("../assets/font/iranyekanweblight.eot?#iefix") format("embedded-opentype"), 
       url("../assets/font/iranyekanweblight.woff") format("woff"), 
       url("../assets/font/iranyekanweblight.ttf") format("truetype");
}

@font-face {
	font-family: iranyekan-regular;
	font-style: normal;
	font-weight: normal;
	src: url("../assets/font/iranyekanwebregular.eot");
	src: url("../assets/font/iranyekanwebregular.eot#iefix") format("embedded-opentype"), 
       url("../assets/font/iranyekanwebregular.woff") format("woff"), 
       url("../assets/font/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
	font-family: iranyekan-medium;
	font-style: normal;
	font-weight: bold;
	src: url("../ssets/font/iranyekanwebmedium.eot");
	src: url("../ssets/font/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), 
       url("../ssets/font/iranyekanwebmedium.woff") format("woff"), 
       url("../ssets/font/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
	font-family: iranyekan-bold;
	font-style: bold;
	font-weight: bolder;
	src: url("../ssets/font/iranyekanwebbold.eot");
	src: url("../ssets/font/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), 
       url("../ssets/font/iranyekanwebbold.woff") format("woff"), 
       url("../ssets/font/iranyekanwebbold.ttf") format("truetype");
}

body {
	font-size: 13px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*HEADER*/
.navbar {
  background: #0009;
  padding-top: 2em;
  padding-bottom: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.navbar span {
  color: #fff;
}

.navbar-brand,
.nav-link,
.navbar-brand:hover,
.nav-link:hover{
  color: #fff;
}

.navbar-brand,
.nav-item {
	position: relative;
}

.navbar-brand:after,
.nav-item:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.navbar-brand:hover:after,
.nav-item:hover:after {
	width: 100%;
	background: #fff;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show,
.navbar-toggler {
  color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.carousel-indicators {
	margin-bottom: 2em;
	justify-content: center;
}

.carousel-indicators [data-bs-target] {
	flex: 1;
}

.carousel-control-next, .carousel-control-prev {
	width: 40px;
	height: 40px;
	top: auto;
	bottom: 0.75em;
	left: auto;
	background: rgba(245,245,245,0.3);
	color:#fff;
  font-size: 2em;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next:hover, 
.carousel-control-prev:hover {
  background: rgba(255,255,255,1.0);
  color: #777;
}

.carousel-control-next{
	right: calc(20% - 80px);
}

.carousel-control-prev{
	right: calc(20% - 140px);
}

#carouselBanner .carousel-caption {
  position: absolute;
  top: auto;
  right: auto;
  left: 8%;
  bottom: 15%;
  margin: 0;
  padding: 0;
  text-align: left;
}

#carouselBanner .carousel-caption h1 {
  width: 40%;
  font-weight: bold;
  text-shadow: 1px 1px 2px #333;
  margin-bottom: .5em;
}

#carouselBanner .carousel-caption span {
  background: rgba(245,245,245,0.3);
  padding: 1em;
}

#carouselBanner .carousel-img {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*SLIDER*/
#history h1{
  color: #333;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 1.5em; 
  right: 0;
  bottom: 1.5em;
  display: flex;
  align-items: flex-end;
}

.hovereffect .overlay-2 {
  left: .75em; 
  bottom: 1em;
}

.hovereffect .overlay div {
  position: relative;
  padding: 1em 1.5em;
  width: 65%;
  height: auto;
  color:#fff;
}

.hovereffect .overlay-2 div {
  padding: .75em !important;
  width: 80% !important;
}

.overlay-layer {
  background: transparent radial-gradient(
    closest-side at 50% 50%,#89acff 0%,#3974ff 71%,#1b5fff 100%
  ) 0% 0% no-repeat padding-box;
  opacity: .7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  /* filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px); */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h3 {
  text-transform: uppercase;
  position: relative;
  line-height: 1em;
}

.hovereffect h4 {
  text-transform: uppercase;
  position: relative;
  line-height: .75em;
}

.hovereffect p {
  position: relative;
  font-size: x-small;
  line-height: 1em;
  display: none;
  filter: none !important;
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  margin-bottom: 0;
}

.hovereffect:hover p {
  filter: none !important;
  display: block;
}

/*ITEMS*/
#carouselItems img {
  width: auto;
  height: 45vh;
  margin-left: 4em;
}

#carouselItems .carousel-item {
  text-align: center;
}

#carouselItems .carousel-indicators {
  margin-bottom: -30px;
  /* margin-left:5%; */
}

#carouselItems .carousel-indicators button {
  background-color:#cccccc4d;
   /* #ffffff80; */
}

#carouselItems .carousel-indicators button:hover,
#carouselItems .carousel-indicators button.active {
  background-color: #77777780 !important;
}

#carouselItems .carousel-control-next, 
#carouselItems .carousel-control-prev {
	bottom: -35px;
	background-color:#dddbdb5f;
	color: #999;
}

#carouselItems .carousel-control-next:hover, 
#carouselItems .carousel-control-prev:hover {
  background-color: #a1a1a180 !important;
  color: #aaa;
}


#carouselItems .carousel-item .carousel-caption {
  left: 5%;
  bottom: 0;
  top:15%;
  width: 250px;
  text-align: left;
}

#carouselItems .carousel-item .carousel-caption h3 {
  width: auto;
  margin-bottom: .5em;
  color: #103895;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  margin-left: -10px;
  margin-top: -10px;
}

#carouselItems .carousel-item .carousel-caption p {
  display: block;
  color: #999;
  font-weight: lighter;
  margin-bottom: .5em;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
  margin-left: -10px;
  margin-top: -5px;
}

#carouselItems .carousel-item .carousel-caption button {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.7s ease-in;
  opacity: 0;
  margin-left: -10px;
  margin-top: -5px;
}

#carouselItems .carousel-item.active .carousel-caption h3,
#carouselItems .carousel-item.active .carousel-caption p,
#carouselItems .carousel-item.active .carousel-caption button {
  opacity: 1;
  margin-left: 0;
  margin-top: 0;
}

.container-wrap {
  padding: 0 5%;
}

.container-wrap p {
  color: #999;
}

.welcome-bg {
  width: 100%;
  min-height: 60vh;
  background-image: url(../assets/img/bg-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding:7% 0;
  text-shadow: 1px 1px 2px #333;
}

.welcome-bg p {
  color: #fff !important;
}

.welcome-bg span {
  background: rgba(245,245,245,0.3);
  padding: 1em;
}

/*FOOTER*/
footer {
  background: #1b5fff;
  overflow: hidden;
  position: relative;
  min-height: 40vh;
  color: #fff;
}

footer ul {
  padding: 1em 0;
  list-style: none;
}

footer ul li {
  margin-bottom: .75em;
}

footer ul li a {
  color: #fff;
}

footer:before {
  background: radial-gradient(ellipse at center,rgba(0,0,0,.30) 50%,rgba(0,0,0,.60) 100%);
  opacity: 0.75;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 3.75rem;
}

.footer-wrap:before {
  background: transparent linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.75) 100%) 0% 0% no-repeat padding-box;
  bottom: 0;
  content: "";
  left: 0;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 0;
}

.footer-container-wrap {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top:0;
  z-index: 3;
}

.socials li{
  padding-left: 1em;
  font-size: 1.2em;
}

.footer-list-menu ul:last-child {
  margin-left: 4em; 
  padding-left: 4em;
}

.footer-logo {
  text-align: center;
}

.product-banner {
  width: 100%;
  height: 100vh;
  background: #1b5fff;
  position: relative;
  z-index: 0;
}

.product-banner::before{
  content: "";
  background: transparent linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.75) 100%) 0% 0% no-repeat padding-box;
  background: radial-gradient(ellipse at top,rgba(0,0,0,.30) 60%,rgba(0,0,0,.60) 100%);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 1;
}

.product-banner-wrap {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.product-banner-content h1 {
  padding: 1em 0;
}

.product-banner-content p {
  padding: 1em 0;
  font-size: 1.75em;
}

.pro-sec-one {
  margin:2% 0 5% 20%;
  background-color: #f4f5f8;
  padding: 5% 5% 5% 20%;
  min-height: 350px;
}

.pro-sec-one .pro-img{
  width: 35%;
  position: absolute;
  left:0;
  top:30%;
}

.pro-sec-two {
  margin:2% 20% 5% 0;
  background-color: #f4f5f8;
  padding: 5% 20% 5% 5%;
  min-height: 350px;
}

.pro-sec-two .pro-img{
  width: 35%;
  position: absolute;
  right:0;
  top:30%;
}

.pro-sec-body h3 {
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 2px dashed #103895;
}

.pro-sec-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pro-sec-body ul li {
  padding-top: .5em;
  padding-left: 1em;
}

.pro-sec-body ul li span {
  font-weight: 700;
  padding-left: .5em;
}

.pro-sec-body ul li .fa {
  color: #103895;
}

.pro-features {
  padding: 4%;
  text-align: center;
}

.price-box .pro-card:nth-child(2) {
  margin: 0 2em;
}

.pro-card {
  padding: 2em;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, .2);
  flex-basis: 25%;
  text-align: center;
}

.pro-card .title {
  border-bottom: 1px solid #eee;
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.pro-card .price {
  padding: 2em 0;
}

.pro-card .price h5{
  color: rgb(155, 155, 155);
  text-decoration: line-through;
}

.pro-card button {
  display: block;
  width: 100%;
}

.faq-box {
  border-bottom: 1px solid #eee;
  padding-top: 1.5em;
}

.faq-box .faq-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-box .faq-content {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.elementToggleClass {
  max-height: 100px !important;
  opacity: 1 !important;
}

button {
  background-color: #154ac6;
  color: white;
  border: none;
  padding: 1em 2em 1.2em;
}

button:hover, button:focus, button:active {
  background-color: #103895;
}

button.secondary {
  background-color: #3333335d;
}

button.secondary:hover, button.secondary:focus, button.secondary:active {
  background-color: #33333378;
}

button.bannerBtn {
  background-color: #00000046;
  margin: 1em 0;
}

button.bannerBtn:hover, button.bannerBtn:focus, button.sbannerBtn:active {
  background-color: #00000050;
}

.item-box {
  background: #f4f5f8;
  padding: 2.5em 5em;
  height: 35em;
  position: relative;
}

.item-box-small {
  background: #f4f5f8;
  padding: 1.5em;
  height: 16.5em;
  position: relative;
}

.item-box .item-img {
  position: absolute;
  left:2em;
  bottom: 2em;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  border:5px solid #fff;
}

.item-sm-img {
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
}

.item-box .item-img img,
.item-box-small .item-sm-img img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-box:hover .item-img img,
.item-box-small:hover .item-sm-img img {
  transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

.item-box p {
  padding:2.5em 0 1.5em;
  margin-left: 22em;
  font-size: 1.25em;
  line-height: 1.75em;
}

.item-box button {
  margin-left: 27.5em;
}


@media (max-width: 768px) {
  .second-history-box {
    margin-top:1.05em;
  }
  #carouselItems img {
    margin-left: 0;
  }
  footer {
    height: 65vh;
  }
  .footer-wrap {
    padding: 0 5%;
  }
  .footer-list {
    flex-direction: column;
  }
  .footer-list-menu {
    flex-direction: column;
  }
  .footer-list-menu ul:last-child {
    margin-left: 0;
    padding-left: 0;
  }
  .socials li {
    padding-left: 0em;
    padding-right: 1em;
  }
  .footer-logo {
    text-align: left;
  }
  .item-box {
    padding: 1em;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .item-box .item-img {
    position: relative;
    width: 75%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    border:5px solid #fff;
    margin: 1em auto;
    left: auto;
    bottom: auto;
  }
  .item-box p, .item-box  button {
    margin-left: 0;
  }
  .product-banner-content h1 {
    padding: .25em 0;
  }
  .product-banner-content p {
    padding: .25em 0;
    font-size: 1.25em;
  }
  .pro-sec-one, .pro-sec-two {
    margin:2%;
    padding: 5%;
    min-height: auto;
  }
  .pro-sec-one .pro-img, .pro-sec-two .pro-img{
    width: 50%;
    position: relative;
    left:auto;
    top:auto;
    margin: auto;
  }
  .price-box {
    flex-direction: column;
  }
  .pro-card {
    margin: 0 0 1em 0 !important;
  }
}